.norepo__message {
    margin: auto;
    }

.search__results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(175, 167, 167);
    min-height: 30rem;
    border-radius: 5px;
    border: rgb(80, 76, 76) 1px solid;
    box-shadow: 1px -2px 10px #ffffff5e;
    background-color: #EBDCF5;
    margin-top: 1rem;
    padding: 2rem;
    @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 0;
    }
    }