.new__search {
    display: flex;
    border: #504c4c 1px solid;
    color: #afa7a7;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #EBDCF5;
    gap: 1rem;
    box-shadow: 1px -2px 10px #fff 5e;
}
.new__search--input {
    border: none;
    color: #837f7f;
    background-color: #EBDCF5;
    width: 90%;
}
.new__search--input::-ms-input-placeholder {
    color: #afa7a7;
}
.new__search--input::placeholder {
    color: #afa7a7;
}
.new__search--input:focus {
    outline: none;
}
.new__search--btn {
    border: none;
    color: inherit;
    color: #696666;
    background-color: transparent;
    text-align: right;
}